
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# s-grabber output or repo
output_logs/
s-grabber/
*.tsv

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Profiling output
prof/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.isorted

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
/instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# VS Code Project Settings
.vscode/
.vscode-server/
.devcontainer*

# mkdocs documentation
/site

# mypy
.mypy_cache/

.DS_Store

# Ignore scratch files
scratch*

# IntelliJ
.idea/
*.iml

# Artifactory Credentials
artuser
artpwd

# Csv, ipynb and parquet files
*.csv
*.ipynb
*.parquet

# Exclude csv and parquet files from tests/resources folder
!tests/resources/**/*.csv
!tests/resources/**/*.parquet

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Dagster stuff
.dagster/*
!.dagster/dagster.yaml

# Used for startup metrics
.webserver_startup_timestamp.txt